<%@ CodeTemplate Src="common.cs"  Inherits="Common.CommonSqlCode" Language="C#" 
TargetLanguage="Java" Description="NetTiers main template." Debug="True" ResponseEncoding="UTF-8"%>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="Common" %> 

<%@ Property Name="inputClass" Type="String" Category="2.项目"  Default=""   Description="包名，输入com.cse.sherp" %>		
<%@ Property Name="ulClass" Type="String" Category="2.项目"  Default=""   Description="包名，输入com.cse.sherp" %>		


<%@ Property Name="author" Type="String" Category="1.版权信息"   Description="作者"  Optional="True" Default="ZhengChao"  %>
<%@ Property Name="email" Type="String" Category="1.版权信息"  Description="作者的Email" Optional="True"  Default="zhengchao730@163.com" %>

<%@ Property Name="SrcTable" Type="SchemaExplorer.TableSchema" Category="3.当前要做的表"  Description="当前要做的表" %>

	
    <!--  input -->
    	<%foreach(ColumnSchema t1 in SrcTable.Columns){%>
		obj.<%=getPropertiesXXXname(t1.Name,"set")%>(objTemp.<%=getPropertiesXXXname(t1.Name,"get")%>());
	<%}%>
    
    
     <!--  ul  li -->
    	<%foreach(ColumnSchema t1 in SrcTable.Columns){%>
        <ul class="<%=ulClass%>" ><li><%=getPropertiesName(t1.Name)%></li></ul>
	<%}%>
    
    
      <!--  ul  li -->
    	<%foreach(ColumnSchema t1 in SrcTable.Columns){%>
        <%=getPropertiesName(t1.Name)%>: $("#<%=getPropertiesName(t1.Name)%>").val(),
	<%}%>
    
  <!--  table  js -->
    	<%foreach(ColumnSchema t1 in SrcTable.Columns){%>
        {column:"<%=getPropertiesName(t1.Name)%>",display:"<%=t1.Description%>" }  ,
	<%}%>

        


}