.user-line[data-v-4c853d07] {
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 200px;
	height: 43px;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.usericon[data-v-4c853d07] {
	width: 20px;
	height: 20px;
	border-radius: 100%
}

.user-name[data-v-4c853d07] {
	font-size: 12px;
	color: #222;
	height: 17px;
	width: 80px;
	padding-left: 10px;
	line-height: 17px
}

.user-tag[data-v-4c853d07] {
	height: 12.5px;
	width: 87px
}

.user-info[data-v-4c853d07] {
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 170px;
	height: 20px
}

.item-wrap[data-v-4c853d07] {
	border-radius: 4px;
	width: 200px;
	height: 330px;
	margin-right: 10px;
	background-color: #fff;
	margin-bottom: 10px
}

.item-img[data-v-4c853d07] {
	width: 200px;
	height: 200px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: #ddd;
	background-size: cover
}

.item-info[data-v-4c853d07] {
	width: 170px;
	margin: 10px 15px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
	padding-bottom: 14px;
	border-bottom: .5px solid #e6e6e6
}

.item-title[data-v-4c853d07] {
	font-size: 13px;
	color: #222;
	height: 40px;
	width: 170px;
	line-height: 20px;
	overflow: hidden
}

.price-line[data-v-4c853d07] {
	width: 170px;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 5px
}

.price[data-v-4c853d07], .price-line[data-v-4c853d07] {
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}

.price-unit[data-v-4c853d07] {
	font-size: 10px;
	color: #f44;
	height: 14px;
	line-height: 22px
}

.price-value[data-v-4c853d07] {
	font-size: 16px;
	color: #f44;
	height: 18px;
	line-height: 18px
}

.want-num[data-v-4c853d07] {
	font-size: 10px;
	color: #888;
	height: 14px;
	line-height: 14px;
	max-width: 90px;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis
}

.item-list {
	margin: 0 auto;
	width: 1040px;
	min-height: 680px;
	margin-bottom: 20px;
}

.item-list-wrap, .pagination {
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.logo {
    width: 200px;
    height: 50px;
}

/* CSS Document */
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset{margin:0;padding:0;font: 12px/1.6 "Segoe UI",Tahoma,Arial; word-wrap: break-word;}
ol,ul{list-style:none;}
img,iframe,fieldset{border:0;}
*:focus{outline:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
body{   font: 12px/1.6 "Segoe UI",Tahoma,Arial; word-wrap: break-word;}
input,button,select,textarea{font-size:100%;font-family:inherit;}
textarea{overflow:auto;}
a:link,a:visited{text-decoration:none;}
a:hover{ text-decoration:underline}
button{overflow:visible;}
body{background:url(images/bg.gif) #f5f8fe repeat-x;  }
.clear{ clear:both}
a{blur:expression(this.blur());}
a { outline:none; }
.logo,.gg1{ float:left; height:64px;  }
.banner{width:980px; margin:0 auto; padding:0;}
.content{ width:980px; margin:0 auto; padding:0; background:#FFFFFF  }

.toolbar{margin-bottom:5px;}
.toolbar,.toolbar-inner{background:url(images/toolbar.gif) repeat-x 0 100%;}
.toolbar-inner{width:980px;height:28px;margin:auto;}
.toolbar .quicklink{float:left;display:inline;margin-left:-10px;}
.toolbar .userbar{float:right;}

/*advert*/
.advert{ margin-top:1px}
.advert a{ display:block; float:left; width:489px; height:60px; margin:1px 0px }
.advert a.right{ float:right}

/*nav*/
.nav{ clear:both; background:url(images/navbg.jpg) no-repeat; height:36px; }
.nav ul{ float:left; height:28px; line-height:28px; margin-top:6px;}
.nav div.search{ z-index:10; position:relative; float:right; margin-right:8px; +margin-right:8px; _margin-right:3px;background:url(images/searchbg.gif) no-repeat; height:26px; line-height:26px; width:245px; margin-top:6px}
.nav div.search .list{ float:left; position:relative; background:url(images/listbg.gif) no-repeat right; margin-left:4px;  width:65px; height:23px; line-height:23px; margin-top:2px; padding:0 0 0 5px; cursor:pointer  }
.nav div.search ul{ z-index:90; margin:0; height:auto; background: #FFFFFF; position:absolute; top:23px; left:3px;+left:3px;_left:1px; width:74px;border: 1px solid #e3e3e3; border-top:none}
.nav div.search ul li{ float:none; text-align:left; text-indent:7px; margin:0; padding:0; height:18px; +height:14px; _height:14px; line-height:18px;+line-height:14px;_line-height:14px; }
.nav div.search ul li a{ color:#333333; font-weight: normal}
.nav div.search ul li a:hover{ text-decoration:none; background:#eceaea; color:#333333}
.nav div.search .list p{ margin-left:2px;+margin-left:2px;_margin-left:-2px}
.nav div.search input{ display:block; float:left; background:none; border:none}
.nav div.search input.name{ width:110px;+width:110px;_width:105px; margin:6px 0 0 0;+margin:7px 0 0 0;_margin:7px 0 0 0; padding:0 0 0 10px}
.nav div.search input.sub{ background:url(images/sub.gif) no-repeat; width:43px; height:17px; margin-top:5px; cursor:pointer}
.nav div.search a.best{ position:absolute; top:15px;right:1px; width:10px; height:10px; }
.nav div.search a.best span{ display:none}
.nav ul li { float:left; margin:0 0 0 7px;+margin:0 0 0 8px;_margin:0 0 0 7px; background:url(images/line.png) no-repeat right;+background:url(images/line.png) no-repeat right;_background:none; padding-right:7px;+padding-right:7px;_padding-right:7px}
.nav ul li a{ color:#FFFFFF; font-weight:bold; display:block;}
.nav ul li a:hover,.nav ul li a.active{ color:#FFFF00; background:url(images/guang.png) no-repeat center;+background:url(images/guang.png) no-repeat center;_background:url(images/guang.gif) no-repeat center}

/*fooder*/
.bot_dh{ background:url(images/foodbg.gif) repeat-x; height:32px; line-height:32px; text-align:center; color:#FFFFFF}
.bot_dh a{ color:#FFFFFF}
.banquan{ text-align:center; color:#666; margin:5px 0}
.banquan p{ height:25px; line-height:25px}

/*fenye*/
.fenye,.fenyes{  float:right }
.fybg{   background: none repeat scroll 0 0 #FCFEFF;
    border: 1px solid #EAF6FD;
    margin: 10px 0 ;
    padding: 8px 15px 5px;}
.fenye a,.fenye span,.fenye select{ display:block; float:left; margin:0 2px}
.fenye a{ position:relative; padding:0px 0 0px 8px; margin:0 2px;   color:#1345a3; background:url(images/psdindex_03.gif) no-repeat left top; height:25px; line-height:25px;}
.fenye a.nextpage{ background: url(images/pagebut.gif) no-repeat left -26px; width:45px; height:25px; margin:0 0 0 2px; padding-right:15px}
.fenye a.nextpage:hover{ color:#000;background: url(images/pagebut.gif) no-repeat left -26px;}
.fenye a.nextpage{ background: url(images/pagebut.gif) no-repeat left -26px; width:45px; height:25px;  padding-right:15px}
.fenye a.nextpage:hover{ color:#000;background: url(images/pagebut.gif) no-repeat left -26px;}
.fenye a.backpage{ background: url(images/pagebut.gif) no-repeat left top; width:45px; height:25px; margin:0 2px 0 0; padding-left:15px}
.fenye a.backpage:hover{ color:#000;background: url(images/pagebut.gif) no-repeat left top;}
.fenye a.grey{ background: url(images/pagebutgrey.gif) no-repeat left top; color:#999999; cursor:no-drop}
.fenye a.grey:hover{ background: url(images/pagebutgrey.gif) no-repeat left top; color:#999999}
.fenye a.greys{ background: url(images/pagebutgrey.gif) no-repeat left -26px; color:#999999; cursor:no-drop}
.fenye a.greys:hover{ background: url(images/pagebutgrey.gif) no-repeat left -26px; color:#999999}
.fenye a:hover,.fenye a.active{ background:url(images/psdindex_07.jpg) no-repeat left top; color:#FFFFFF; text-decoration:none}
.fenye a:hover b,.fenye a.active b{background:url(images/psdindex_07.jpg) no-repeat right top; cursor:pointer }
.fenye a.shenlue{ background:none; padding:0; margin:0 5px}
.fenye a.shenlue:hover{ color:#333333}
.fenye a b{ font-size:12px; display:block;+display:block;_display:inline;position:relative; font-weight:normal; background:url(images/psdindex_03.gif) no-repeat right top; height:25px; line-height:25px;padding:0 8px 0 0;+padding:0 8px 0 0;_padding:5px 18px 10px 0px;margin-right:0px;+margin-right:0px;_margin-right:-8px;}
.fenye a b font{ font-size:12px; font-weight:normal}
.fenye span{ padding:2px}
.fenye select{ margin-top:1px;+margin-top:2px;_margin-top:2px; padding:4px}
.fenyes{ text-align:center}
.fenyes span a{ color:#FF0000; font-size:12px ; font-weight:bold; margin:0 2px}

/*danqian*/
.active_dq{ background: url(images/down_03.gif) repeat-x; border:1px solid #e2ebfa ; border-left:none; border-right:none; height:25px; padding-top:5px;padding-left:10px; margin-top:2px}
.active_dq p{ color:#333}
.active_dq p a{ color:#333; margin:0 5px}
.active_dq p a.active{ color:#FF6600}

/*top_active*/
.gg_dh{ float:right; background:url(images/top_gongg.gif) repeat-x; width:243px; height:42px; border:1px solid #cdd5e0; position:relative; padding: 8px 0px 8px 10px; +padding: 8px 0px 8px 10px; _padding: 8px 0px 5px 10px;}
.gg_dh p.sc_new{ background:url(images/gif-0341.gif) no-repeat left 3px; padding-left:18px;}
.gg_dh ul{ position:absolute; }
.gg_dh ul li a{ color:#fd621d}
.gg_dh p a{ display: block; float:left; margin:0 6px 0 2px; color:#333333}
.gg_dh p{ clear:both; }
.gg_dh p a.new{ background:url(images/gif-0379.gif) no-repeat left 3px; padding-left:15px;}
.gg_dh p a.cont{ background:url(images/gif-0508.gif) no-repeat left 1px; padding-left:17px;}
.gg_dh p a.advanced{ background:url(images/gif-0296.gif) no-repeat left 1px; padding-left:20px;}
#scrollDiv{ height:22px; line-height:22px; overflow:hidden; width:150px;position:absolute; top:8px; left:88px}

.search_text{ width:978px; margin:0 auto;border:1px solid #7db7f8; margin-bottom:5px}
.search_text .title{background:url(images/search_03.gif) repeat-x;   height:34px; line-height:34px; padding-left:20px; color:#1345a3; font-weight:bold; border:1px solid #e4f1fd;border-bottom:none; border-top:none}
.search_text .title a{ float:left; display:block ; background:url(images/gif-f.gif) no-repeat 0 14px;padding-left:20px; color:#1345a3}
.search_text .title span a{ float:none; display:inline; margin:0 5px; padding:0; color:#FF0000; font-weight:bold}
.search_text .sh_bdy{ border-top:1px solid #e4f1fd; padding:10px 0 } 
.search_text .sh_bdy .text_leftbq{ width:976px; padding:0 0 0 2px; background:none}
.search_text .sh_bdy .text_left{ float:none}

.active_bq{ background: url(images/bq_03.jpg) repeat-x; height:31px; line-height:31px; border:1px solid #c9e5f1; border-left:none; border-right:none}
.active_bq p{ float:left; padding-left:10px; color:#1345a3}
.active_bq p a{ margin:0 5px; color:#1345a3}

/**down**/
.down_left{ text-align:center; margin-top:5px; float:left; width:682px}
.down_left p strong,.down_left p span{ margin:5px; color:#1345a3}
.down_left p{ margin-top:5px; }
.down_left span.top{ display:block; background:url(images/bk_03.jpg) no-repeat; height:2px; width:682px;}
.down_left span.bottom{ display:block; background:url(images/bk06.jpg) no-repeat; height:3px; width:682px;}
.down_left .downtext{ border:1px solid #c6d8f6; border-bottom:none; border-top:none;  width:680px; padding-top:5px; background:#FFFFFF; margin-top:0px;+margin-top:0px;_margin-top:-13px;}

.table_new{ width:650px; background:url(images/table_top.gif) repeat-x ; margin:5px auto 0; padding-top:2px  }
.table_new .left,.table_new .right{ float:left}
.table_new .left ul{ width:452px;background: url(images/table_leftbg.gif) repeat-y; border-bottom:1px solid #f3f5f7}
.table_new .left ul li{ clear:both; border-top:1px solid #f3f5f7; line-height:38px; height:38px; overflow:hidden; text-align:left}
.table_new .left ul li span{ display:block; float:left; color:#333333; width:330px; text-align:left; padding-left:5px;}
.table_new .left ul li span.sctitle{ padding-left:0}
.table_new .left ul li span.jj{ line-height:20px;}
.table_new .left ul li a{ color:#0855c3; margin:0 5px;}
.table_new .left ul li a:hover{ color:#cc0000}
.table_new .left ul li span a.copy_ad{ display:block; background: #fefefe; border:1px solid #ccc; height:22px; line-height:22px; text-align:center; margin-top:8px; color:#FF0000; font-weight:normal}
.table_new .left ul li em{ float:left; font-style:normal; color:#999999}
.table_new .left ul li span.name{ padding-right:5px; width:88px; text-align:right;  margin-right:10px; color:#4477c0; font-weight:bold;}
.table_new .left ul li a.sina{ background:url(images/sina_w.gif) no-repeat  0 10px; padding-left:20px; display:block; float:left; }
.table_new .left ul li a.qqkj{ background:url(images/qzone_w.gif) no-repeat  0 10px; padding-left:20px ;  display:block; float:left;}
.table_new .left ul li a.qqwb{ background:url(images/QQ_w.gif) no-repeat 0 9px ; padding-left:20px; display: block; float:left}
.table_new .left ul li.user span,.table_new .left ul li.user a{ float:left;}
.table_new .left ul li.user a.news,.table_new .left ul li.user a.add{ display:block; margin:0 1px}
.table_new .left ul li.user a.news{ background:url(images/hi.png) no-repeat; width:20px; height:20px;}
.table_new .left ul li.user a.add{ background:url(images/add.png) no-repeat; width:20px; height:20px;}
.table_new .left ul li.user a.news span,.table_new .left ul li.user a.add span{ display:none}
.table_new .left ul li.user a.all{ float:right; background:url(images/11x12all.gif) no-repeat 0 9px; padding-left:15px}

.table_new .right{ background:#f5f8fd; border:1px solid #e9eef9; margin-top:5px; padding:10px 10px 20px 10px; float:right}
.down_button{ background:url(images/down_button.gif) no-repeat; width:159PX; height:46PX}
.down_button a { text-decoration:none; display:block; width:159px; height:46px; position:relative}
.down_button a span{ position:absolute; top:27px; left:70px; color:#03588d}
.table_new .right ul li{ background:url(images/down_06.gif) no-repeat; width:159px; height:26px; line-height:26px; margin-top:5px}
.table_new .right ul li a{ color:#4477c0}
.table_new .right ul li a:hover{ color:#cc0000}

.threebutton{ background:url(images/threebutton.gif) no-repeat; width:490px; height:32px; margin-bottom:10px; padding-left:160px}
.threebutton a{ display:block; width:97px; height:30px; line-height:30px; color:#0855c3; float:left; margin-right:17px}
.threebutton a:hover{ color:#cc0000; text-decoration:none}

 
.down_text{ border:1px solid #f2f4f6; background:#fcfcfd; padding:0px 10px;  width:670px; margin:10px auto}
.down_text strong{ color:#000000}
.down_text ul li{ float:left; width:335px; text-align:left; color:#333333; height:26px; line-height:26px; border-bottom:1px solid #f6f7f7}
.down_text ul li a{ color:#333333; margin:0 5px}
.down_text ul li.share{ text-align:right}
.down_text ul li.share strong,.down_text ul li.share a{ float: right}
.down_text ul li.share a{ background:url(images/sina_w.gif) no-repeat 0 3px; display:block; padding-left:18px; margin-left:10px}
.down_text ul li.share a.qq{ background:url(images/qzone_w.gif) no-repeat 0 4px;}
.down_jj{ text-align:left; color:#333333; line-height:20px; padding:10px 0}

.copy{ margin:0 auto; background:#eff7fe;  text-align:left; width:672px;}
.copy input.wz{ width:550px; background:#FFFFFF; border:1px solid #e1e8ef;  height:25px;+height:19px;_height:19px; padding-top:0px;+padding-top:6px;_padding-top:6px; padding-left:10px; float:left}
.copy input.sub{ display:block; float:left; background: url(images/copy_sub.jpg) no-repeat; width:94px; height:28px; line-height:28px; border:none; cursor:pointer; margin-left:10px }

.down_block{  width:692px; margin:10px auto 0}
.down_block .dz{ float:left;}
.down_block .dz ul{ background:url(images/down_07.gif) no-repeat 0px 9px; padding-left:30px; margin-left:30px }
.down_block .dz ul li { font-size:14px; font-weight:bold; line-height:25px; text-align:left}
.down_block .dz ul li a{ color:#333333}
.d_gg{ float:right}
.d_gg div{ margin:0 0 6px 0}

.down_right{ float:right; width:290px; margin-top:5px}
.down_right .title{ background:url(images/blue.jpg) no-repeat;  height:36px; line-height:36px; padding-left:10px; color:#FFFFFF; font-size:14px; font-weight:bold}
.right_body{ padding:0 10px 10px 10px; +padding:0 10px 10px 10px; _padding:0 2px 10px 7px; border:1px solid #c6d8f6; border-bottom:none; border-top:none; background:#FFFFFF;}
.down_right .pic{border-bottom:1px dashed #b2b2b2; padding:10px 0;}
.down_right .pic div.pic1,.down_right .pic div.pic2{ float: left}

.down_right .pic div a img{ display:block; width:105px; height:81px;}
.down_right .pic div.pic1 a{ display:block; background:#dfedfc; padding:5px; margin-right:10px}
.down_right .pic div.pic2 p.title2{ margin-bottom:5px; width:140px; overflow:hidden; height:19px;}
.down_right .pic div.pic2 p.title2 a{ color:#3b65ae; font-weight:bold; font-size:12px;}
.down_right .pic div.pic2 p{ width:140px}
.down_right .pic div.pic2 p a{ color:#666666; margin-right:5px;}
.hottitle .title3{ background:url(images/orange.jpg) no-repeat; height:36px; line-height:36px; width:276px; margin-left:-9px;+margin-left:-9px;_margin-left:-7px; color:#FFFFFF; font-size:14px; font-weight:bold; padding-left:10px; margin-top:5px}
.hottitle .hot_s{ padding:5px}
.hottitle .hot_s a{ margin:0 5px 0 0; line-height:22px; color:#333;white-space:nowrap}
.hottitle .hot_s a:hover{ color:#4477c0; text-decoration:none}
.right_bottom{ background:url(images/right_btom.jpg) no-repeat; width:290px; height:3px}


div.picblock{ background:#E5F3FC; padding:8px; float:left; margin:2px;}
div.picblock p{ margin-top:4px}
div.picblock p a{ color:#333333}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1;}
.psdk{padding:0 0 0 11px;}

.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 12px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box img {
  display: block;
  width: 100%;
}

.box {
  float: right;
  text-align: left; 
  direction: ltr;
}

#fontbaiu{    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6D8F6;
    margin: 5px 0 0;
    padding: 5px;
    text-align: center;}
    
    /*==========================================================
    (c) Chinaz.com - Topbar.css
==========================================================*/
#chinaz_topbar{float:right;}
#chinaz_topbar .userbar{float:right;white-space:nowrap;margin-top:3px;}
#chinaz_topbar .userbar a{float:left;display:inline;margin-left:10px;height:20px;line-height:20px;}
#chinaz_topbar .userbar a:link,#chinaz_topbar .userbar a:visited{color:#000;}
#chinaz_topbar .userbar a:hover,#chinaz_topbar .userbar a:active{color:#12459c;cursor:pointer;}
#chinaz_topbar .userbar .counts{font-size:83%;font-style:normal;background:#c00;color:#fff;padding:0 .3em;-moz-border-radius:0.6em;-webkit-border-radius:0.6em;border-radius:0.6em;}
#chinaz_topbar .userbar a.username:link,#chinaz_topbar .userbar a.username:visited{color:#12459c;}
#chinaz_topbar .userbar a.item-expand{margin-right:-7px;margin-left:5px;padding-right:18px;background:url(../images/toolbar_arrow.gif) no-repeat 100% 0;}
#chinaz_topbar .userbar a.hover{position:relative;z-index:100;background:url(../images/toolbar_arrow.gif) no-repeat 100% -50px;}
#chinaz_topbar .userbar a.item-expand span{float:left;padding-left:5px;background:url(../images/toolbar_arrow.gif) no-repeat 0 999px;}
#chinaz_topbar .userbar a.hover span{background-position:0 -100px;}
* html #chinaz_topbar .userbar .counts{position:relative;top:-4px;}

.accesslink{float:left;white-space:nowrap;margin-top:3px;/*Fixed IE < 8 bug*/position:relative;z-index:1;}
.accesslink li{float:left;position:relative;}
.accesslink a{float:left;display:inline;margin-left:10px;height:20px;line-height:20px;}
.accesslink a:link,.accesslink a:visited{color:#000;}
.accesslink a:hover,.accesslink a.active{color:#12459c;cursor:pointer;}
.accesslink a.item-expand{margin-right:-7px;margin-left:5px;padding-right:18px;background:url(../images/toolbar_arrow.gif) no-repeat 100% 0;}
.accesslink a.item-expand:hover,.accesslink li:hover a.item-expand,.accesslink li.hover a.item-expand{position:relative;z-index:100;background:url(../images/toolbar_arrow.gif) no-repeat 100% -50px;}
.accesslink a.item-expand span{float:left;padding-left:5px;background:url(../images/toolbar_arrow.gif) no-repeat 0 999px;}
.accesslink a.item-expand:hover span,.accesslink li:hover a.item-expand span,.accesslink li.hover a.item-expand span{background-position:0 -100px;}
.accesslink .dropdownmenu-wrap{left:4px;top:18px;visibility:hidden;}
.accesslink .dropdownmenu{width:110px !important;}
.accesslink .dropdownmenu-inner{border:1px solid #bbb;}
.accesslink .dropdownmenu a{display:block;float:none;margin:0;padding:0 10px;height:auto;line-height:2;}
.accesslink li:hover .dropdownmenu-wrap,.accesslink li.hover .dropdownmenu-wrap{visibility:visible;}

.topbar-hiddencontents{display:none;}

.userbar,.accesslink{*margin-top:4px;margin-top:4px\9;}
* html .userbar,* html .accesslink{margin-top:5px;}

/*= Popup dialog =========================================*/
.dialog{position:absolute;padding:5px;background:rgba(0,0,0,0.1);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000);}
.dialog-inner{background:#f6fbff;border:1px solid #779cb0;}

/*= Dropdown menu ========================================*/
.dropdownmenu-wrap{position:absolute;margin:3px 0 0 3px;z-index:10;background:transparent url(../images/shadow.png);}
.dropdownmenu{position:relative;top:-2px;left:-2px;width:150px;background:#fff;}
.dropdownmenu-list,
.dropdownmenu-inner{padding:1px;border:1px solid #dcdcdc;zoom:1;}

.dropdownmenu a:link,.dropdownmenu a:visited{color:#000;}

.dropdownmenuloader{text-align:center;padding:40px 10px 20px 10px;color:#999;background:url(../images/ajaxloading.gif) no-repeat 50% 20px;}

/*= Notice & Message =*/
.menu-notice .dropdownmenu{width:260px;}
.menu-notice .noticelist{padding:0 10px 0 9px;overflow:hidden;}
.menu-notice .noticelist li{margin:-1px 0 7px 0;padding-top:5px;border-top:1px solid #ddd;}
.menu-notice .noticelist .date{font-size:92%;color:#999;}
.menu-notice .noticelist .action{color:#999;text-align:right;}
.menu-notice .noticelist .action a:link,.menu-notice .noticelist .action a:visited,
.menu-notice .noticelist .entry a:link,.menu-notice .noticelist .entry a:visited,
.menu-notice .messagelist .msgignore:link,.menu-notice .messagelist .msgignore:visited{color:#12459c;}
.menu-notice .noticelist-nodata,
.menu-notice .messagelist-nodata{padding:20px;text-align:center;color:#999;}
.menu-notice .messagemenu-link{text-align:right;margin:0 10px;padding:5px 0;border-top:1px solid #ddd;}
.menu-notice .messagelist li{margin:-1px 0 0 0;border-top:1px solid #ddd;}
.menu-notice .messagelist .msgitem{display:block;padding:5px 0 7px 40px;}
.menu-notice .messagelist .msgitem:hover,
.menu-notice .messagelist .msgitem:active{text-decoration:none;background-color:#f6fbff;}
.menu-notice .messagelist .avatar{float:left;display:inline;width:32px;margin:3px 0 0 -40px;}
.menu-notice .messagelist .avatar img{background:#fff;padding:3px;border:1px solid #f0f0f0;}
.menu-notice .messagelist .name{float:left;font-weight:bold;margin-right:5px;}
.menu-notice .messagelist .unread{float:left;font-weight:bold;color:#c00}
.menu-notice .messagelist .date{float:right;font-size:92%;color:#999;}
.menu-notice .messagelist .summary{float:left;width:100%;overflow:hidden;white-space:nowrap;}
.menu-notice .messagelist .lastmsg{padding-right:2.5em;}
.menu-notice .messagelist .msgignore{float:right;margin-top:-2em;}

/*= Setting =*/
.menu-normal .dropdownmenu-inner{border-color:#bbb;}
.menu-normal .dropdownmenu-inner a{display:block;padding:0 10px;line-height:2;}

.menu-setting{margin:2px 0 0 3px;padding-bottom:1px;}
.menu-setting .dropdownmenu{width:200px;top:-1px;}
.menu-setting .dropdownmenu-inner{padding:10px;border:1px solid #bbb;}
.menu-setting .menu-setting-account{margin-bottom:5px;padding:0 0 10px 62px;border-bottom:1px dashed #ddd;}
.menu-setting .menu-setting-account .accountavatar{float:left;display:inline;margin-left:-62px;width:52px;}
.menu-setting .menu-setting-account .accountavatar a{background:none;display:block;}
.menu-setting .menu-setting-account .accountavatar img{display:block;padding:1px;border:1px solid #e6e6e6;}
.menu-setting .menu-setting-account .visible,
.menu-setting .menu-setting-account .invisible{position:relative;display:block;float:right;width:16px;height:16px;overflow:hidden;text-indent:-999px;margin:-18px -2px 0 0;padding:2px;background:#fff url(../images/ueser_invisible.gif) no-repeat 50%;-webkit-border-radius:5px 0 0 0;-moz-border-radius:5px 0 0 0;border-radius:5px 0 0 0;}
.menu-setting .menu-setting-account .visible{background-image:url(../images/ueser_visible.gif);}
.menu-setting .menu-setting-account .toggle{clear:both;width:52px;text-align:center;}
.menu-setting .menu-account-info{margin-bottom:5px;line-height:1.6;}
.menu-setting .menu-account-info li{float:left;width:49.9%;white-space:nowrap;}
.menu-setting .menu-account-info li.span{width:100%;white-space:normal;}
.menu-setting .menu-account-info .label{color:#999;margin-right:5px;}
.menu-setting .menu-account-info .value{font-style:normal;color:#f60;}
.menu-setting .menu-setting-list li{float:left;line-height:1.8;width:49.9%;}
.menu-setting .menu-setting-list a{white-space:nowrap;}
.menu-setting .menu-setting-list a:link,.menu-setting .menu-setting-list a:visited{color:#000;}

/*= Tip =*/
.menu-tip{top:38px;right:100px;background:transparent none;opacity:.95;}
.menu-tip .dropdownmenu{width:220px;background:transparent none;}
.menu-tip .dropdownmenu-inner{padding:0;border:1px solid #dfc97f;background:#fbfbf0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 1px 0 #fff,0 1px 3px rgba(0,0,0,0.15);-moz-box-shadow:inset 0 1px 0 #fff,0 1px 3px rgba(0,0,0,0.15);box-shadow:inset 0 1px 0 #fff,0 1px 3px rgba(0,0,0,0.15);}
.menu-tip .menu-closer{float:right;}
.menu-tip .menu-closer a{float:left;display:inline;margin:5px 5px 0 0;width:14px;height:0;padding-top:14px;overflow:hidden;background:url(../images/menu_tip_close.gif) no-repeat;}
.menu-tip-list li{margin:5px 10px;}
.menu-tip-list strong{color:#c00;}
.menu-tip a:link,.menu-tip a:visited{color:#0af;}

/*= Friend =*/
.menu-friend{background:transparent none;}
.menu-friend .dropdownmenu{width:250px;background:#fff;}
.menu-friend .dropdownmenu-inner{padding:0;border-color:#b4c9dd;}

.menufriend-head{position:relative;height:72px;overflow:hidden;border-bottom:1px solid #b4c9dd;background:url(../images/menu_friend_bg_2.png) no-repeat;}
.menufriend-head-inner{padding:9px 7px 9px 70px;}
.menufriend-head .avatar{float:left;display:inline;width:54px;margin-left:-63px;}
.menufriend-head .avatar a{float:left;background:url(../images/menu_friend_bg_2.png) no-repeat 0 -300px;}
.menufriend-head .username{margin-bottom:5px;padding-top:3px;cursor:move;}
.menufriend-head .closer{position:absolute;top:8px;right:10px;}
.menufriend-head .closer a{display:block;width:22px;height:22px;text-indent:-9999px;overflow:hidden;background:url(../images/menu_friend_bg_2.png) no-repeat -100px -300px;}
.menufriend-head .closer a:hover{background-position:-122px -300px;}
.menufriend-body{height:290px;overflow:auto;background:#fff url(../images/menu_friend_bg_2.png) no-repeat 0 -400px;}
.menufriend-body-inner{padding:5px;}
.menufriend-body a:link,.menufriend-body a:visited{text-decoration:none;}
.menufriend-title{margin-bottom:1px;padding-right:2px;background:url(../images/menu_friend_bg.png) no-repeat -999px 0;}
.menufriend-title a{display:block;font-weight:normal;padding-left:20px;background:url(../images/menu_friend_bg.png) no-repeat 0 -100px;cursor:pointer;}
.menufriend-title span{display:block;padding-right:3px;height:25px;line-height:25px;background:url(../images/menu_friend_bg.png) repeat-x 0 -999px;}
.menufriend-title .count{font-style:normal;color:#999;}
.menufriend-title:hover{background-position:100% -175px;}
.menufriend-title:hover a{background-position:0 -125px;}
.menufriend-title:hover span{background-position:0 -150px;}
.menufriend-group-expand .menufriend-title{background-position:100% -250px;}
.menufriend-group-expand .menufriend-title a{background-position:0 -200px;}
.menufriend-group-expand .menufriend-title span{background-position:0 -225px;}
.menufriend-list .frienditem{padding:4px 5px 4px 40px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.menufriend-list .frienditem:hover{padding:3px 4px 3px 39px;border:1px solid #ffe5a0;background:#fffae3;}
.menufriend-list .frienditem .avatar{float:left;display:inline;margin:5px 0 0 -35px;}
.menufriend-list .frienditem .avatar img{padding:1px;background:#fff;border:1px solid #eee;}
.menufriend-list .online .avatar img{background:#85deff;border:1px solid #f0fbff;}
.menufriend-list .space{display:inline-block;width:16px;height:16px;border:1px solid #fff;background:url(../images/icons/space.gif) no-repeat;}
.menufriend-list .space:hover{border-color:#ffe5a0;background-color:#fff;}
.menufriend-list .status{display:block;width:150px;color:#999;white-space:nowrap;overflow:hidden;}
.menufriend-foot{padding:5px;border-top:1px solid #b4c9dd;background:#fff url(../images/menu_friend_bg_2.png) repeat-x 0 -100px;}
.menufriend-foot a{float:left;padding-left:12px;background:url(../images/menu_friend_bg.png) no-repeat;}
.menufriend-foot a.friend-manage{background-position:0 -280px;}
.menufriend-foot a.friend-search{float:right;background-position:0 -310px;}
.menufriend-head a:link,.menufriend-head a:visited{color:#12459c;}

.menu-friend .usertagline-wrap{float:left;width:170px;height:24px;overflow:hidden;background:url(../images/menu_friend_bg_2.png) repeat-x 0 999px;}
.menu-friend .usertagline-inner{margin:0 5px;overflow:hidden;}
.menu-friend .usertagline-hover{background-position:0 -200px;}
.menu-friend .usertagline-active{background-position:0 -224px;}
.menu-friend .usertagline-text{height:24px;line-height:24px;color:#666;white-space:nowrap;overflow:hidden;}
.menu-friend .usertagline-form{height:24px;line-height:24px;}
.menu-friend .usertagline-form .tagline-input{float:left;width:100%;height:24px;overflow:hidden;}
.menu-friend .usertagline-form .tagline-input .text{width:100%;height:20px;line-height:20px;margin-top:2px;padding:0;border:0;}

.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;clear:both;height:0;font:0/0 sans-serif;visibility:hidden;}
.post-slide{
		margin: 0 15px;
	}
	.post-slide .post-img{
		overflow: hidden;
	}
	.post-slide .post-img img{
		width: 100%;
		height:200px;
		height: auto;
		transform: scale(1);
		transition: all 1s ease-in-out 0s;
	}
	.post-slide:hover .post-img img{
		transform: scale(1.08);
	}
	.post-slide .post-content{
		background: #fff;
		padding: 20px;
	}
	.post-slide .post-title{
		font-size: 17px;
		font-weight: 600;
		margin-top: 0;
		text-transform: capitalize;
	}
	.post-slide .post-title a{
		display: inline-block;
		color: #808080;
		transition: all 0.3s ease 0s;
	}
	.post-slide .post-title a:hover{
		color: #3d3030;
		text-decoration: none;
	}
	.post-slide .post-description{
		font-size: 15px;
		color: #676767;
		line-height: 24px;
		margin-bottom: 14px;
	}
	.post-slide .post-bar{
		padding: 0;
		margin-bottom: 15px;
		list-style: none;
	}
	.post-slide .post-bar li{
		color: #676767;
		padding: 2px 0;
	}
	.post-slide .post-bar li i{
		margin-right: 5px;
	}
	.post-slide .post-bar li a{
		display: inline-block;
		font-size: 12px;
		color: #808080;
		transition: all 0.3s ease 0s;
	}
	.post-slide .post-bar li a:after{
		content: ",";
	}
	.post-slide .post-bar li a:last-child:after{
		content: "";
	}
	.post-slide .post-bar li a:hover{
		color: #3d3030;
		text-decoration: none;
	}
	.post-slide .read-more{
		display: inline-block;
		padding: 10px 15px;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		background: #e7989a;
		border-bottom-right-radius: 10px;
		text-transform: capitalize;
		transition: all 0.30s linear;
	}
	.post-slide .read-more:hover{
		background: #333;
		text-decoration: none;
	}
    